.custom-radio .ant-radio-checked .ant-radio-inner{
    border-color: #be1e1ee5 !important;
    background-color: #be1e1ee5 !important;
}
.custom-radio:hover .ant-radio .ant-radio-inner{
    border-color: #be1e1ee5 !important;
}
